In [2]:
import pandas as pd

In [3]:
test_results = pd.read_excel(open("data/test-results.xlsx", 'rb'))
test_results

,جواب آزمایش,تاریخ آزمایش,شهر آزمایش,کدملی شخص,Unnamed: 4,Unnamed: 5
0,negetive,20200101,تهران,5488865595,NaN,NaN
1,negetive,20200101,فارس,5502639355,NaN,NaN
2,negetive,20200101,خراسان رضوی,5483452110,NaN,NaN
3,negetive,20200101,خراسان رضوی,5483501775,NaN,NaN
4,negetive,20200102,آذربایجان شرقی,5483104455,NaN,NaN
...,...,...,...,...,...,...
19150,negetive,20200609,آذربایجان شرقی,995165640,NaN,NaN
19151,negetive,20200610,خراسان رضوی,995166336,NaN,NaN
19152,negetive,20200610,اصفهان,995167032,NaN,NaN
19153,negetive,20200601,اصفهان,995167380,NaN,NaN
19154,positive,20210126,قم,6722495121,NaN,NaN